body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 20px;
}
h1 {
    border-top: 10px solid blue;
    border-right: 10px solid green;
    border-bottom: 10px solid yellow;
    border-left: 10px solid red;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s ease-in-out infinite alternate-reverse;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
        background-size: 30%;
    }

    50% {
        background-position: 100% 50%;
        border-top: 10px solid red;
        border-right: 10px solid blue;
        border-bottom: 10px solid green;
        border-left: 10px solid yellow;
    }

    100% {
        background-position: 0% 50%;
        border-top: 10px solid green;
        border-right: 10px solid yellow;
        border-bottom: 10px solid red;
        border-left: 10px solid blue;
    }
}